<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
    <listener class-name = "api.utilities.ExtentReportManager"/>
  </listeners>
	

  <test name="Test1">
    <classes>
      <class name="api.test.CreateUserTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test2">
    <classes>
      <class name="api.test.ReadUserTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Test3">
    <classes>
      <class name="api.test.UpdateUserTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Test4">
    <classes>
      <class name="api.test.DeleteUserTest"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
